.doctor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 15px 20px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0.1, 0.2, 0.3);
  max-width: 260px;
  margin: 0 10px;

  .avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;

    object-fit: cover;
    margin-bottom: 15px;
  }

  .info {
    text-align: center;

    .name {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0;
    }

    .specialty {
      color: #888888;
      font-size: 0.9rem;
      margin: 4px 0;
    }



    .price {
      margin-top: 8px;
      font-size: 1rem;
      font-weight: 500;
      color: #1e88e5;

      span {
        font-weight: bold;
      }
    }
  }

  .line {

    font-size: 0.9rem;
    padding: 5px 0;
    background: #ebf9fd;
    width: 113%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

    .rating-right {}

    .rating-left {}


  }

  .btn-explore {

    width: 100%;
    border: solid 1px #00b5f1;
    margin-top: 20px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #00b5f1;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      background-color: white;
      color: #00b5f1;
    }


  }
}