/* home.module.scss */
.container-input {
  position: relative;
  margin: 20px 0;

  .input {
    width: 100%;
    padding: 13px 0 13px 43px;
    border-radius: 20px;
   
    transition: all 0.2s ease-in-out;
    outline: none;
    opacity: 0.8;

   
  }

  svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
}
