/* Container của slider */
.slider-container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.slick-track {
  display: flex;
  gap: 10px; // Thêm khoảng cách giữa các item
  padding: 15px 0;
}


/* Tùy chỉnh nút next và prev */
.slick-prev,
.slick-next {
  border-radius: 50%; /* Làm tròn nút */
  width: 40px; /* Chiều rộng nút */
  height: 40px; /* Chiều cao nút */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Đảm bảo nút hiển thị trên các phần tử khác */
  opacity: 1; /* Đảm bảo nút không bị mờ */
  transition: background-color 0.3s ease; /* Thêm hiệu ứng chuyển màu */
 
}

/* Thêm hiệu ứng hover cho nút */
.slick-prev:hover,
.slick-next:hover {
  background-color: #11a2f3; /* Thay đổi màu nền khi hover */
  color: #fff; /* Giữ màu chữ khi hover */
}



//item for type service
.item-service {
  overflow: hidden;
  box-shadow: 4px 8px 30px 0 #b1c4da59;
  width: 160px !important ;
  height: 150px;
  position: relative;
  padding: 18px 17px 16px;
  text-align: center;
  background: #fff;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.15s ease-in;
  cursor: pointer;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  img {
    width: 50%;
  }
}


//item for type colab

.item-colab {
 
  img{
    margin: auto;
    margin-bottom: 10px;
  }
  text-align: center;
  max-width: 150px;
  padding: 10px;
}

// item for advertisement

.item-advertisement{
  border-radius: 12px;
  overflow: hidden;
  
}