// src/components/UserGuide.scss
.instruction {
    background: #F4F7FE;
    padding: 50px 250px;

    .user-guide {
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 15px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

        h2 {
            color: #00b5f1;
        }

        .ant-table {
            margin-top: 20px;
            border-radius: 8px;
        }


    }
}