@import "../../../../style/variables.scss";

.staff-profile {
    display: flex;
    justify-content: center; // Căn giữa theo chiều ngang
    align-items: center; // Căn giữa theo chiều dọc
    height: 100%;

    background: $background-color;

    .container {
        padding: 0 3%;
        margin: 0;
        background: $background-color;
        align-items: stretch;

        .right-profile {
            padding-top: 40px;

            .content-profile {
                height: 100%;
                background: $background-color;
                display: flex;
                justify-content: center;

                .ant-form-item {
                    margin-bottom: 15px;
                    padding: 0 10px;

                    .ant-input-disabled {
                        color: black;
                    }

                    .ant-select-selector {
                        color: black;
                    }

                    .ant-picker-input {
                        input {
                            color: black;
                        }
                    }
                }

                .ant-form-item-label {
                    padding: 0;
                }

                .bg-content-profile {
                    border-radius: 10px;
                    box-shadow: $box-shadow-content-admin;
                    background: white;
                    padding: 20px 10px;
                    margin-bottom: 20px;
                }

                .information-profile {
                    width: 80%;

                    .avatar {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .image-user {
                            border-radius: 50%;
                            border: 1px solid #eaedee;
                            padding: 3px;
                            width: 100px;
                            height: 100px;
                            cursor: pointer;

                            img {
                                border-radius: 50%;
                                width: 100%;
                                height: 100%;
                            }
                        }

                    }

                }

                .password-content {
                    width: 100%;

                    .text {
                        font-size: 1.3em;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                }

                .staff-info-update {
                    .text {
                        font-size: 1.3em;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    .ant-form-item-label {
                        label {
                            font-weight: 500;
                            font-size: 1.1em;
                        }

                        padding: 0 0 5px 0;
                    }

                }

                .staff-info-view {

                    .bg-content-profile {
                        border-radius: 10px;
                        box-shadow: $box-shadow-content-admin;
                        background: white;
                        padding: 20px 10px;
                        margin-bottom: 20px;

                        .text {
                            color: #04a9f3;
                            font-size: 1.5em;
                            font-weight: 600;
                        }

                        .avatar {
                            display: flex;
                            justify-content: left;
                            align-items: center;

                            img {
                                border-radius: 10px;
                                padding: 3px;
                                width: 150px;
                                height: 150px;
                            }

                        }

                        .right-view {
                            display: flex;
                            flex-direction: column;
                            justify-content: left;

                            label {
                                color: #003553;
                                font-weight: 600;
                                width: 100px;
                            }

                        }


                    }
                }
            }
        }
    }
}