@import "/src/style/variables.scss";

.blog-detail-user {
    .blog-detail-user-header {

        .imghead {
            padding: 15px 0;

            img {
                border-radius: 15px;
            }
        }

        .blog-detail-user-content {
            margin-top: 60px;
            display: flex;
            align-items: start;

            .content-handbook {
                padding: 20px;
                border-radius: 15px;

                .article-title {
                    font-size: 2rem;
                    font-weight: 700;
                    color: #003d80;
                    margin-bottom: 10px;
                }

                .article-meta {
                    font-size: 1.1em;
                    color: #999;
                    margin-bottom: 20px;

                    .article-date {
                        color: #666;
                    }

                    .article-author {
                        color: orange;
                        font-weight: 600;
                    }
                }

                .article-intro {
                    font-size: 1rem;
                    border-left: 3px solid orange !important;
                    font-weight: 500;
                    padding-left: 15px;
                    margin-bottom: 15px;
                    color: #666;
                }

                .article-content {
                    font-size: 1rem;
                    line-height: 2px;
                    margin-bottom: 20px;
                    text-align: justify;
                    line-height: 1.6;

                    h2,
                    h3 {
                        color: #003d80;
                        font-weight: bold;
                        margin: 15px 0;
                    }

                    ul {
                        padding-left: 40px;
                    }

                    a {
                        color: $primary-color-admin;
                        font-weight: 400;
                    }

                    img {
                        width: 80%;
                        height: auto;
                        border-radius: 8px;
                        margin: 15px auto;
                    }

                    p {
                        width: 100%;
                        padding-left: 10px;


                        em {
                            color: gray;
                            font-size: 14px;
                            font-weight: 400;
                            padding: 0 auto;
                        }
                    }

                    strong {
                        color: #003d80;
                        font-weight: bold;
                    }
                }



            }
        }
    }

    .blog-detail-user-relative {}
}