@import "../../../../style/variables.scss";

.sidebar-content {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    background: white;

    @media only screen and (max-width: 768px) {}

    @media only screen and (max-width: 800px) {
        /* Styles specifically for smaller mobile devices (phones) */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;

    }

    .header-sideBar {
        width: 100%;
        height: 100%;
        position: relative;

        .logo {
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }

        .icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            /* Kích thước div con */
            height: 20px;
        }
    }

    a {
        text-decoration: none;
        font-size: 1em;
        font-weight: 400;
        color: #262626;

        &:hover {
            text-decoration: none;
            color: $primary-color-admin;
        }

        &:focus {
            text-decoration: none;
            color: $primary-color-admin;
        }
    }
}