@import "/src/style/variables.scss";

.profile-user {
    background: $background-color ;
    padding-bottom: 50px;

    .header-profile-user {
        margin: 20px 270px 0 270px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 40px;

        .btn-profile-user {
            margin-top: 20px;
            background: linear-gradient(36deg, #00b5f1, #00e0ff);
            color: white;
            padding: 7px 20px;
            border-radius: 10px;
            margin-right: 20px;
            cursor: pointer;
        }
    }

    .modal-history-content{

    
    }
}