@import "../../../../style/variables.scss";

.login-container {
    overflow: hidden;

    .login-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("https://cdn.medpro.vn/prod-partner/92b6d682-4b5a-4c94-ac54-97a077c0c6c5-homepage_banner.webp");
        width: 100vw;
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        backdrop-filter: blur(10px); // Làm mờ nền phía sau
        -webkit-backdrop-filter: blur(10px); // Hỗ trợ Safari
        border: 1px solid rgba(255, 255, 255, 0.4); // Đường viền sáng
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Thêm một chút bóng mờ nhẹ

        .slide {
            position: relative;
            background: white;
            border-radius: 15px;
            min-height: 70%;
            max-height: 95%;
            padding: 20px;
            width: 500px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            overflow: hidden;

            .modal-login,
            .register,
            .forgot-pass {
                display: flex;
                flex-direction: column;
                align-items: center;

                .icon-back {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    font-size: 20px;
                    color: $primary-color-admin;
                    cursor: pointer;
                }

                .circle-avatar {
                    width: 50px;
                    height: 50px;
                    background-image: url("https://res.cloudinary.com/degcwwwii/image/upload/v1733207843/logo/rr7ytbrcco0hgilykrmo.png");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    margin: 0 auto -25px;
                    cursor: pointer;
                }

                .login-title {
                    text-align: center;
                    font-size: 2em;
                    color: $primary-color-admin;
                    font-weight: 700;
                    margin: 30px 0 30px;
                    letter-spacing: 2px; // Optional: adjust spacing between letters
                    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); // Shadow effect under the text
                    line-height: 1.4; // Adjust the line height for better spacing if necessary
                    display: inline-block; // Ensure it's treated as a block element
                    text-transform: initial;
                }

                .login-form {
                    width: 90%;

                    .input {
                        border: 2px solid $primary-color-admin;
                        background: white;
                        border-radius: 10px;
                        font-size: 1.1em;
                        height: 40px;
                        padding: 10px;

                        &:hover {
                            border: 2px solid $primary-color-admin;
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                            outline: none;
                        }

                        &:focus {
                            border: 2px solid $primary-color-admin;
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                            outline: none;
                        }
                    }

                    .forgot-password {
                        display: block;
                        text-align: right;
                        font-size: 12px;
                        color: $secondary-color-admin;
                        margin-bottom: 15px;
                        cursor: pointer;
                    }

                    .login-button {
                        width: 100%;
                        background-color: $primary-color-admin;
                        color: #fff;
                        height: 40px;
                        font-size: 1.2em;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: lighten($primary-color-admin, 10%);

                        }
                    }

                    .input-register {
                        border: 2px solid #ded9d9;
                        background: white;
                        border-radius: 8px;
                        font-size: 1.1em;
                        padding-left: 10px;
                        height: 40px;
                        box-shadow: 0 4px 6px rgba(0, 0, 1, 0.08);

                        .icon-input {
                            color: rgb(176, 173, 173);
                            margin-right: 10px;
                        }

                        &:hover {
                            border: 2px solid $primary-color-admin;
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                            outline: none;

                            .icon-input {
                                color: $primary-color-admin;
                            }
                        }

                        &:focus {
                            border: 2px solid $primary-color-admin;
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                            outline: none;

                            .icon-input {
                                color: $primary-color-admin;
                            }
                        }
                    }

                    .register-button {
                        width: 200px;
                        margin: 5px auto;
                        background-color: $primary-color-admin;
                        color: #fff;
                        height: 40px;
                        font-size: 1.2em;
                        border-radius: 8px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: lighten($primary-color-admin, 10%);

                        }
                    }
                }

                .line {
                    width: 50%;
                    margin: 20px auto;
                    border-bottom: 1px solid #d9d9d9;
                }

                .social-login {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-bottom: 10px;
                    width: 90%;

                    .facebook-button {
                        background: white;
                        color: #000000;
                        width: 100%;
                        border-radius: 10px;
                        cursor: pointer;

                        &:hover {
                            border: 1px solid$primary-color-admin;
                            color: $primary-color-admin;
                        }
                    }

                    .google-button {
                        background: white;
                        color: #000000;
                        width: 100%;
                        border-radius: 10px;
                        cursor: pointer;

                        &:hover {
                            border: 1px solid$primary-color-admin;
                            color: $primary-color-admin;
                        }
                    }
                }

                .register-text {
                    color: $primary-color-admin;
                    font-size: 13px;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        color: $secondary-color-admin;
                    }
                }

                .text-success {
                    color: green;
                    font-size: 13px;
                    font-weight: 400;
                    margin-bottom: 15px;
                }
            }
        }
    }


}

.ant-tooltip-content {
    width: 300px;

    .saved-accounts {
        color: black;
        width: 100%;

        .saved-account-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            cursor: pointer;

            .text {
                width: 90%;
            }

            &:hover {
                background-color: $hover-color-admin;

            }
        }
    }
}