.dashboard {
    padding: 16px;

    .card {
        text-align: center;
        background-color: #f6f9fc;

        h4 {
            color: #555;
        }
    }

    .row {
        margin-top: 16px;
    }

    .alert {
        margin-bottom: 12px;
    }
}