.blog-item {
  display: flex;
  gap: 10px;
  transition: all 0.2s ease-in;
  padding: 17px;
  border-radius: 10px;
  border: 1px solid white;
  width: 100%;
  cursor: pointer;
  height: 170px;

  .blog-item-img {
    width: 200px;
    border-radius: 10px;
    overflow: hidden;

    img {
     width: 100%;
      height: 100%;

    }
  }

  .blog-item-content {
    .content-title {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 13px;
      color: #858585;

      span {
        display: block;
        background: red;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
    }

    .body-content {
      margin: 10px 0 !important;
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #003553;
    }

    .date {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #003553;
      font-size: 13px;
      font-weight: 300;
    }

    .name {
      color: #ff7700;
      font-size: 13px;
      font-weight: 500;
    }
  }

  &:hover {
    border: solid 1px #49e3f7;
  }
}