.footer {
    background-color: #f8f8f8;
    padding: 40px 20px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    
    .footer-container {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      flex-wrap: wrap;
    }
  
    .footer-left {
      flex: 2;
      padding-right: 40px;
  
      .footer-logo {
       width: 250px;
        
      }
    }
  
    .footer-right {
      flex: 3;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      .footer-section {
        width: 220px;
        margin-bottom: 20px;
  
        h4 {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 15px;
        }
  
        ul {
          list-style: none;
          padding: 0;
  
          li {
            margin-bottom: 8px;
            font-size: 14px;
            color: #555;
            cursor: pointer;
            
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    
    @media (max-width: 768px) {
      .footer-container {
        flex-direction: column;
        align-items: center;
      }
  
      .footer-left {
        margin-bottom: 20px;
        text-align: center;
      }
  
      .footer-right {
        flex-direction: column;
        align-items: center;
  
        .footer-section {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
  