@import "/src/style/variables.scss";

.appoinment-list {
    .title {
        margin: 20px 0;
        font-size: 20px;
        font-weight: 700;
        color: $main-text-color;
    }

    .list-item-app {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .patient-card {
            display: flex;
            flex-direction: column;
            background: white;
            padding: 16px;
            border: 3px solid $primary-color-admin;
            border-radius: 15px;
            box-shadow: 2px 6px 6px rgba(3, 52, 73, 0.2);
            margin-bottom: 30px;

            .patient-info {

                .text-in {
                    margin: 10px 0 !important;
                    color: #938b8b;
                    font-size: 16px;

                    .b {
                        padding-left: 10px;
                        font-weight: 500;
                    }

                    .c {
                        padding-left: 30px;
                        color: $secondary-color-admin;
                        font-weight: 600;

                    }


                }

                .text-in-tc {
                    color: #1890ff;
                    font-size: 16px;
                    font-weight: 600;
                    margin: 10px;

                    .c {
                        padding-left: 10px;
                        color: $secondary-color-admin;
                        font-weight: 600;
                    }
                }
            }
        }

        .patient-actions {
            display: flex;
            justify-content: end;

            .btn {
                font-size: 14px;
                padding: 8px 12px;
                border: none;
                border-radius: 8px;
                margin-left: 10px;
                cursor: default;

                &.delete {
                    background: #ff0004;
                    color: white;
                    cursor: pointer;
                }

                &.checkout {
                    background: $primary-color;
                    color: white;
                    cursor: pointer;
                }

                &.cancel {
                    background: white;
                    color: red;
                    border: 2px solid red;

                }
            }

            .status-success {
                user-select: none;
                font-weight: 700;
                font-size: 18px;
                padding: 8px 12px;
                color: $secondary-color;
                text-align: center;
            }

        }


    }
}