.doctor-card {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  height: 450px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }

  p {
    margin-bottom: 6px !important;
  }

  .btn-booking {
    width: 80%;
    background-color: #6aaff8;
    padding: 10px;
    border-radius: 18px;
    text-align: center;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  &__avatar {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem;
    border: 3px solid #007bff;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
  }

  &__info {
    flex: 1;
    padding: 0.3rem 1rem 1rem 1rem;

    &__specialty {
      font-size: 1rem;
      color: #6c757d;
      margin: 0.5rem 0 !important;
    }

    &__details {
      font-size: 0.95rem;
      color: #495057;

      p {
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .doctor-card__icon {
        color: #007bff;
      }

      &__price {
        font-weight: bold;
      }

      &__rating {
        color: #f39c12;
        font-weight: bold;
      }
    }
  }
}