@import "../../../../style/variables.scss";

.bg {
    background-color: #e8f2f7;
    padding: 30px 0;
}

.appointment-home-content {
    width: 100%;

    .booking-information {
        .medical-info-card {
            background: white;
            border-radius: 10px; // Bo tròn góc
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); // Hiệu ứng bóng
            overflow: hidden; // Không cho nội dung vượt ra ngoài

            .card-header {
                background: linear-gradient(36deg, #00b5f1, #00e0ff);
                color: white; // Màu chữ
                font-weight: bold; // Chữ đậm
                font-size: 1.2em; // Cỡ chữ
                padding: 10px; // Khoảng cách trong
                text-align: center;
                margin-bottom: 10px;
            }

            .card-body {
                padding: 5px 15px;
                color: $secondary-color-admin;
                font-size: 0.9em;
                display: flex;
                align-items: start;

                .hospital-name {
                    font-weight: 600; // Chữ đậm
                    margin-bottom: 5px; // Khoảng cách dưới
                }

                .hospital-address {
                    color: #666; // Màu chữ xám
                }
            }
        }
    }

    .booking-content {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        .header {
            user-select: none;
            position: relative;
            background: linear-gradient(36deg, #00b5f1, #00e0ff);
            color: white;
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
            padding: 10px;
            border-radius: 10px 10px 0 0;
            margin-bottom: 10px;

            .icon-back {
                position: absolute;
                top: 15px;
                left: 25px;
                cursor: pointer;
            }

        }

        .content {
            user-select: none;
            min-height: 300px;
            padding: 20px;

            .specialty-list,
            .doctor-list {
                min-height: 500px;
                max-height: 500px;
                overflow: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;

                .specialty-item {
                    padding: 10px;
                    border-bottom: 1px solid #ccc;
                    cursor: pointer;

                    &:last-child {
                        border-bottom: none;
                    }

                    strong {
                        display: block;
                        font-weight: 700;
                        margin-bottom: 5px;
                        color: #007bbf;
                    }

                    .description {
                        font-size: 0.9em;
                        color: #666;
                        margin: 0;
                    }

                    &:hover {
                        background-color: #f0f8ff; // Thay đổi màu nền khi hover (xanh nhạt)
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Đổ bóng nhẹ
                        transform: scale(1.02); // Phóng to nhẹ khi hover

                        strong {
                            color: #005a8c; // Tăng độ đậm của màu chữ
                        }

                        .description {
                            color: #333; // Làm đậm hơn màu chữ
                        }
                    }
                }

                .item {
                    border: 2px solid #eceff3;
                    border-radius: 8px;
                    padding: 15px 20px;
                    margin-bottom: 5px;
                    transition: transform 0.3s ease, box-shadow 0.3s ease;

                    &:hover {
                        border: 2px solid #1cd7e4;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    }

                    .name {
                        font-size: 18px;
                        font-weight: bold;
                        color: #f9bc4b;
                        margin-bottom: 10px;
                    }

                    .gender,
                    .specialty,
                    .schedule,
                    .price {
                        font-size: 14px;
                        color: $secondary-color-admin;
                        padding: 2px 0;
                        margin: 5px 0;

                        .time {
                            margin-left: 3px;
                            text-transform: capitalize;
                        }
                    }
                }

            }

            //-------------------------------------------CONTENT SCHEDULE BOOKING----------------------------------------------------------------
            .month-booking {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-bottom: 1rem;
                font-size: 1.2rem;
                font-weight: 600;
                color: $primary-color-admin;
                gap: 15px;

                .icon {
                    cursor: pointer;
                }
            }

            .days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                // gap: 0.5rem;

                .day {
                    text-align: center;
                    cursor: pointer;
                    background-color: #f9f9f9;
                    padding: 20px 5px;
                    font-weight: 600;

                    &.active {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            background-color: #00bfff;
                            border-radius: 5px;
                            color: #fff;

                            text-align: center;
                            width: 60%;
                            height: 100%;

                        }
                    }

                    &.disabled {
                        pointer-events: none;
                        color: #a09d9d;
                    }
                }
            }

            .time-slots {
                margin-top: 2rem;

                .slot {
                    margin-right: 0.5rem;
                    margin-bottom: 0.5rem;
                    display: inline-block;
                    padding: 0.5rem 1rem;
                    border: 1px solid #00bfff;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.2s;

                    &:hover {
                        background-color: #00bfff;
                        color: #fff;
                    }
                }
            }

            //-------------------------------------------CONTENT INFOMATION BOOKING----------------------------------------------------------------
            .warning {
                background: #ebf8ff;
                color: $secondary-color-admin;
                border-radius: 10px;
                text-align: center;
                padding: 10px 1em;
                margin: 10px 1.5em;
            }

            .booking-personal {
                color: $secondary-color-admin;

                .ant-form-item {
                    margin-bottom: 12px;
                }

                label {
                    font-weight: 600;
                    color: $secondary-color-admin;
                }

                .input-register {
                    width: 100%;
                    padding: 8px 10px;
                    border: 1px solid #b5b5b5;
                    border-radius: 8px;
                    font-size: 1em;
                }

                .ant-form-item-explain-error {
                    margin: 1px;
                    padding: 3px 0;
                }

                .select-inf {
                    .ant-select-selector {
                        padding: 18px 10px;
                        border: 1px solid #b5b5b5 !important;
                        border-radius: 8px;
                        width: 100%;
                    }
                }

                .register-button {
                    background-color: $primary-color-admin;
                    color: #fff;
                    font-size: 1.2em;
                    padding: 10px 20px;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: lighten($primary-color-admin, 10%);

                    }
                }

            }


            //-------------------------------------------CONTENT CONFIRM BOOKING----------------------------------------------------------------
            .info-container {
                display: flex;
                justify-content: start;

                .info-column {
                    width: 50%;

                    .info-row {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        margin-bottom: 10px;

                        .icon {
                            gap: 0;
                            color: $primary-color-admin;
                            min-width: 40px;
                        }

                        span {
                            flex: 0 0 100px;
                            font-weight: 400;
                            color: #555;
                        }

                        strong {
                            color: $secondary-color-admin;
                            font-weight: 500;
                            padding: 5px 10px;
                        }
                    }
                }
            }

            .row-2 {
                .info-row {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    margin-bottom: 10px;

                    .icon {
                        gap: 0;
                        color: $primary-color-admin;
                        min-width: 40px;
                    }

                    span {
                        flex: 0 0 100px;
                        font-weight: 400;
                        color: #555;
                    }

                    strong {
                        color: $secondary-color-admin;
                        font-weight: 500;
                        padding: 5px 10px;
                    }
                }
            }

            .row-3 {
                .title {
                    color: $secondary-color-admin;
                    font-weight: 700;
                    font-size: 17px;
                    margin-bottom: 20px;
                    padding-left: 10px;
                }

                .inf-doctor {
                    display: flex;
                    justify-content: left;
                    margin-bottom: 10px;

                    .a {
                        padding-left: 10px;
                        color: $secondary-color-admin;
                        font-weight: 500;
                        font-size: 1em;
                        min-width: 150px;
                    }
                }
            }

            .note {
                margin-top: 20px;
                background-color: #fff3f3;
                border-left: 4px solid #ff6b6b;
                padding: 10px;
                border-radius: 4px;

                p {
                    color: #d9534f;
                    font-size: 14px;

                    .icon {
                        margin-right: 5px;
                        color: #d9534f;
                    }
                }
            }

            .btn-confirm {
                background-color: $primary-color-admin;
                color: white;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: lighten($primary-color-admin, 10%);
                }
            }

            .title-success {
                display: flex;
                flex-direction: column;
                align-items: center;
                 color: #1fc006;
                margin-top: 30px;

                .icon {
                    font-size: 60px;
                  //  color: #3ae937;
                }

                span {
                  //  color: $main-text-color;
                    font-size: 17px;
                    font-weight: 600;
                    margin: 15px auto;
                }
            }

            .btn {
                padding: 5px 15px;
                border-radius: 8px;
                text-align: center;
                cursor: pointer;
                margin: auto 10px;
                font-size: 14px;

                &.email {
                    background-color: $primary-color;
                    color: white;
                }

                &.home {
                    background-color: white;
                    color: $primary-color;
                    border: 2px solid $primary-color;
                }
            }
        }


    }

}