@import "/src//style/variables.scss";

.admin-dashboard {


    .bg-bor15 {
        background: white;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .dashboard-line1 {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 20px;

        .appoinment-statistical {
            padding: 20px;
            display: flex;
            flex-direction: column;
            width: 40%;

            .head {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .text-head {
                    font-size: 20px;
                    font-weight: 600;
                    color: $primary-color-admin;
                }

                .number {
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .body {
                display: flex;
                justify-content: space-between;

                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .text {
                    margin-top: 10px;
                }
            }
        }

        .medicine {
            width: 55%;
            height: 175px;
            padding: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            canvas {
                max-width: 100%;
                /* Đảm bảo vẽ vừa khung */
                max-height: 90%;
                /* Đảm bảo vẽ vừa khung */
                display: block;
                /* Xóa margin mặc định */
            }
        }
    }
}