.blog-wrapper {
  .blog-item {
    cursor: pointer;
    width: 290px;
    height: 350px;
    border: 1px solid white;
    transition: all 0.3s ease-in;
    border-radius: 15px;
    padding: 14px 18px;

    .blog-item-img {
      overflow: hidden;
      height: 50%;
      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .blog-item-content {
      .content-title {
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 15px;
        color: #858585;

        span {
          display: block;
          background: red;
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }

      .body-content {
        margin: 8px 0 3px 0 !important;
        color: var(--prim, #003553);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

      }

      .date {
        display: flex;
        align-items: center;
        gap: 7px;
        height: 30px;
        overflow: hidden;
        font-size: 12px;
        font-weight: 600;
      }

      .name {
        font-size: 12px;
        font-weight: 600;
        color: #ffa200;
      }

    }

    &:hover {
      border: 1px solid #47bfff;
    }

    .btn-next {
      font-size: 14px;
      color: #47bfff;
      font-weight: 700;
      margin-top: 5px;
    }
  }
}