.dashboard-container{
    padding: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
    min-height: 100vh;

    .gap2{
        gap: 2em;
    }

    .statistical-item{
        padding: 10px;
        background: white;
        height: 105px;
        border-radius: 10px;
        border: 2px solid #e6eaeb;

        .icon{
            padding: 10px;
            border-radius: 100%;
            width: 100%;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p{
            line-height: 1.5;
        }

        .inline{
            display: inline;
        }

        .number{
            margin: 0 0 0 10px;
            font-size: 30px;
        }

        .subtext{
            margin: 0 0 0 5px;
            font-size: 13px;
            color: gray;
        }

        i{
            font-size: 25px;
        }
    }

    .orange{
        color: #FF7752;
    }

    .blur-orange{
        background-color: #ffe3dc;
    }

    .blue{
        color: #007BFF;
    }

    .blur-blue{
        background-color: #dfefff;
    }

    .green{
        color: #3AA472;
    }

    .blur-green{
        background-color: #ddfced;
    }

    .blur-text{
        color: gray;
    }

    .number-text{
        font-size: 3em;
        font-weight: 600;
    }

    .dashboard-action {
        .ant-select {
            width: 100%;   
            font-family: 'Be Vietnam Pro', sans-serif;  
            color: gray; 
            
            &.ant-select-selector{
                border: 1px solid gray !important;
            }
            &.ant-select-focused .ant-select-selector {
                border-color: #007BFF !important;
                border: 1px solid #007BFF !important;
            }
            &:hover .ant-select-selector {
                border-color: #007BFF !important;
                border: 1px solid #007BFF !important;
            }
        }

        .col-3{
            padding-right: 0;
        }

        .action-item{
            padding-right: 0px;
        }

        .find-button{
            height: 32px;
            border: 1px solid rgb(211, 211, 211); 
            padding: 0 20px; 
            border-radius: 6px;
            background: #007BFF;
            color: white;

            &:hover{
                cursor: pointer;
                box-shadow: 4px 4px 8px #e6eaeb, -4px -4px 8px #e6eaeb;
            }
        }

        .search-box{
            padding: 4px 10px;
            border-radius: 6px;
            border: 1px solid rgb(211, 211, 211);  
            height: 32px;
            width: 250px;
            outline: none;

            &:focus{
                border: 1px solid #007BFF;
            }

            &:hover{
                border: 1px solid #007BFF;
            }
        }
    }

    .dashboard-content{
        .loading{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh;
        }

        .time{
            font-size: 1em;
            font-weight: 500;
            color: gray;
        }

        .add-patient{
            padding: 10px;
            background: white;
            border-radius: 6px;
            border: 1.5px dashed #c9cccc;
            margin-left: 10px;
            margin-right: 10px;

            p{
                line-height: 1.2;
                text-align: center;
                display: inline;
            }

            div{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover{
                cursor: pointer;
                box-shadow: 4px 4px 8px #e6eaeb, -4px -4px 8px #e6eaeb;
                margin-left: 5px;
                margin-right: 5px;

                p{
                    font-weight: 600    ;
                }
            }
        }

        .no-patient{
            padding: 10px;
            background: white;
            border-radius: 6px;
            border: 1.5px dashed #c9cccc;
            margin-left: 10px;
            margin-right: 10px;
        }

        .bold-text{
            font-weight: 600;
        }

        .sub-text{
            color: gray;
        }   

        .special-old{
            background: #ffe3dc;
            color: #FF7752;
            text-align: center;
            border: 1.5px solid #FF7752;
            border-radius: 8px;
            width: 70%;
            font-size: 13px;
        }

        .special-children{
            background: #DDFCED;
            color: #3AA472;
            text-align: center;
            border: 1.5px solid #3AA472;
            border-radius: 8px;
            width: 70%;
            font-size: 13px;
        }

        .special-disabled{
            background: #DFEFFF;
            color: #007BFF;
            text-align: center;
            border: 1.5px solid #007BFF;
            border-radius: 8px;
            width: 70%;
            font-size: 13px;
        }

        .special-pregnant{
            background: #FFD5D8;
            color: #ff4851;
            text-align: center;
            border: 1.5px solid #ff4851;
            border-radius: 8px;
            width: 70%;
            font-size: 13px;
        }
    }
}